.*
_*/
!.gitignore
.vscode/
**/__pycache__/
**/*.pyc
tmp/
# Coverage files
.coverage
*.lcov
htmlcov/
coverage/
# Legacy files
__LEGACY/
# Documents and configs
*.odt
*.txt
*.html
!pkg/**/*.html
/*.jsonc
# Sqlite database related files
**/*.db
**/*.db-shm
**/*.db-wal
!/test/data/collections/**/*